@*@if (User.Identity.IsAuthenticated)
{
    var userName = Request.GetOwinContext().Authentication.User.FindFirst("email").Value;
    userName = !string.IsNullOrEmpty(userName) ? userName : "---";

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="https://kth.azurewebsites.net/core/permissions">@userName</a>
        </li>
        <li>@Html.ActionLink(@Resources.LogOff, "SignOut", "Home")</li>
    </ul>
}*@
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink(User.Identity.GetUserName(), "Index", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">@SimpleCMS.SimpleCMS.Resources.Blog.Resources.LogOff</a></li>
    </ul>
    }
}
@*else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(Resources.Register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(Resources.LogOn, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}*@