<script>
    $(function () {
        $.navbarContextMenu("@SimpleCMS.SimpleCMS.Resources.Blog.Resources.Functions <span class='caret'></span>", [
            '@Html.ActionLink(SimpleCMS.SimpleCMS.Resources.Blog.Resources.ChangePassword, "ChangePassword", "Account")',
            '@Html.ActionLink(SimpleCMS.SimpleCMS.Resources.Blog.Resources.EditBasicInfo, "EditBasicInfo", "Account")',
            '@Html.ActionLink(SimpleCMS.SimpleCMS.Resources.Blog.Resources.EditApplicationSettings, "EditAppSettings", "Account")',
            '@Html.ActionLink(SimpleCMS.SimpleCMS.Resources.Blog.Resources.EditUserSettings, "EditUserSettings", "Account")'
        ]);
    });
</script>