@model SimpleCMS.ViewModels.ArtCreateOrEditViewModel
@if (!@Request.IsAjaxRequest())
{
    ViewBag.Title = @SimpleCMS.SimpleCMS.Resources.Blog.Resources.Create;
    <h2>@SimpleCMS.SimpleCMS.Resources.Blog.Resources.Create</h2>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @if (!@Request.IsAjaxRequest())
        {
            <h4>Art</h4>
            <hr />
        }
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-offset-0 col-md-8">
                <ul>
                    @foreach (var image in Model.Image)
                    {
                        <li>@image.Name</li>
                    }
                </ul>
                @Html.Partial("_FileUploadHandler")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ArtTypeId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                <input id="ArtType" name="ArtType" type="text" class="form-control" placeholder="Slag" value="@Model.ArtTypeName" />
            </div>
            <div class="col-md-8">
                <span id="ArtTypeDescription"></span>
                <input type="hidden" id="ArtTypeId" name="ArtTypeId" value="@Model.ArtTypeId" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                <input id="Category" name="Category" type="text" class="form-control" placeholder="Bólkur" value="@Model.CategoryName" />
            </div>
            <div class="col-md-8">
                <span id="CategoryDescription"></span>
                <input type="hidden" id="CategoryId" name="CategoryId" value="@Model.CategoryId" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConditionId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                <input id="Condition" name="Condition" type="text" class="form-control" placeholder="Tilstandur" value="@Model.ConditionName" />
            </div>
            <div class="col-md-8">
                <span id="ConditionDescription"></span>
                <input type="hidden" id="ConditionId" name="ConditionId" value="@Model.ConditionId" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GenreId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                <input id="Genre" name="Genre" type="text" class="form-control" placeholder="Slag" value="@Model.GenreName" />
            </div>
            <div class="col-md-8">
                <span id="GenreDescription"></span>
                <input type="hidden" id="GenreId" name="GenreId" value="@Model.GenreId" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ArtistId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                <input id="Artist" name="Artist" type="text" class="form-control" placeholder="Kunstnari" value="@Model.ArtistName" />
            </div>
            <div class="col-md-8">
                <span id="ArtistName"></span>
                <input type="hidden" id="ArtistId" name="ArtistId" value="@Model.ArtistId" />
            </div>
        </div>

        @if (!@Request.IsAjaxRequest())
        {
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
}

@if (!@Request.IsAjaxRequest())
{
    @Html.Partial("_BackToListPartial")

    @section Scripts {
        @Scripts.Render("~/js/jqueryval")
    }
}
<script>

    var artTypeSource = CreateDataSource(10, "/ArtType/Find", "#ArtType");
    var artCategorySource = CreateDataSource(10, "/ArtCategory/Find", "#Category");
    var artConditionSource = CreateDataSource(10, "/ArtCondition/Find", "#Condition");
    var artGenreSource = CreateDataSource(10, "/ArtGenre/Find", "#Genre");
    var artistSource = CreateDataSource(10, "/Artist/Find", "#Artist");


    $(function () {

        SetupAutoComplete($("#ArtType"), "Name", '#: data.Name #', artTypeSource, function (item) {
            $("#ArtTypeId").val(item.Id);
            $("#ArtTypeDescription").html(item.Description);
        });

        SetupAutoComplete($("#Category"), "Name", '#: data.Name #', artCategorySource, function (item) {
            $("#CategoryId").val(item.Id);
            $("#CategoryDescription").html(item.Description);
        });

        SetupAutoComplete($("#Condition"), "Name", '#: data.Name #', artConditionSource, function (item) {
            $("#ConditionId").val(item.Id);
            $("#ConditionDescription").html(item.Description);
        });

        SetupAutoComplete($("#Genre"), "Name", '#: data.Name #', artGenreSource, function (item) {
            $("#GenreId").val(item.Id);
            $("#GenreDescription").html(item.Description);
        });

        SetupAutoComplete($("#Artist"), "Name", '#: data.Name #', artistSource, function (item) {
            $("#ArtistId").val(item.Id);
            $("#ArtistName").html(item.Name);
        });
    });
</script>